doctype html
head
  link(rel='stylesheet', href='/CSS/bootstrap.min.css')
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='device-width, initial-scale=1.0')
  title Document

include addAgent.pug

include addConsultant.pug


section#agence.container


  table
    thead
      tr
        th Objectifs
    tbody
      tr
        td(colspan='2')  Chiffre d&apos;affaire 
        td
      tr
        td(colspan='2')  Taux de marge 
        td
      tr
        td(colspan='2')  Marge nette 
        td
      tr
        td(colspan='2')  Objectif cumul&eacute; 
        td
      tr
        td(colspan='2')  CA cumul&eacute; 
        td

