doctype html
head
  link(rel='stylesheet', href='/CSS/bootstrap.min.css')
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='device-width, initial-scale=1.0')
  title Document
body.container
  h1 Agence
  table.table
    thead
      td 
      td janvier
      td fevrier
      td mars
      td avril
      td mai
      td juin
      td juillet
      td aout
      td septembre
      td octobre
      td novembre
      td decembre
    tr
      td Objectif par mois
      each objet, column in agents
        td #{objet.value}


include addElement.pug
a(href="/home") HOME
      
