section#agence.container
  table
    thead
      tr
        th Objectifs
    tbody
      tr
        td(colspan='2')  Chiffre d&apos;affaire 
        td
      tr
        td(colspan='2')  Taux de marge 
        td
      tr
        td(colspan='2')  Marge nette 
        td
      tr
        td(colspan='2')  Objectif cumul&eacute; 
        td
      tr
        td(colspan='2')  CA cumul&eacute; 
        td