
link(rel='stylesheet', href='/CSS/bootstrap.min.css')
table.table
  thead
    td id
    td nom
    td prenom
    td objectif
  each user in data
    tr
      each objet, column in user
        td #{objet.value}
  a(href="/home") HOME
      