
link(rel='stylesheet', href='/CSS/bootstrap.min.css')
table.table
  thead
    td id
    td nom
    td prenom
    td objectif
  each user in data
    tr
      td
        a(href="calendar/"+user.id.value+"")
          button(type="button") Objectifs par mois
      each objet, column in user
        td #{objet.value}
      

  a(href="/home") HOME
      