link(rel='stylesheet', href='/CSS/bootstrap.min.css')
table.table
  thead
    td Consultants
    td id
    td nom
    td prenom
    td prix
    td cout de revient 
    td frais
    td id_manager
  each user in data
    tr
      td 
        a(href="modify")
          button(class="btn btn-small" type="button") Modifier
      each objet, column in user
        td #{objet.value}
        
  a(href="/home") HOME
      